<h2>USER'S NAME</h2>
<p>Data INFO FOR USER</p>
<div>
    <a href="/posts/{{post.id}}">{{post.title}}</a>
</div>
<div class="forum-link">
    
    <h3>Forum</h3>
    <p>Click on <a href="">Post</a> to go to the next page</p>
</div>

